DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tradeintel_maroc?schema=public"
NEXTAUTH_SECRET="change-me-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
CKAN_ENDPOINT="https://data.gov.ma/api/3/action"
BAM_API_URL=""
BAM_API_KEY=""
DEFAULT_CURRENCY="MAD"
CRON_SECRET="change-me-for-vercel-cron"
CKAN_AUTO_QUERIES="commerce exterieur,douane,import export"
